<!Doctype html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	</head>
	<body>
		<div><a href="/">Back to home</a></div>
		<h1>This is the login page.</h1>
		{% if error %}
			<p style="color:red">{{ error }}</p>
		{% endif %}
		<form action="/loginAuth" method="POST">
	    	<label for="user_type">What type of user are you?</label>
	    	<br>
        	<select id="user_type" name="user_type">
        		<option value="customer">customer</option>
            	<option value="booking_agent">booking agent</option>
            	<option value="airline_staff">airline staff</option>
    		</select>
    		<br>
    		<br>
    		<div id="cust">
    			<label for="Email">Email</label><br>
			    <input required class="cust" type="Email" name="Email" placeholder="Email">
			    <br>
			    <br>
			    <label for="Password">Password</label><br>
			    <input required class="cust" type="Passsword" name="Password" placeholder="Password">
			    <br>
			    <br>
    		</div>
    		<div id="book">
    			<label for="Email">Email</label><br>
			    <input required class="book" type="Email" name="Email" placeholder="Email">
			    <br>
			    <br>
			    <label for="Password">Password</label><br>
			    <input required class="book" type="Passsword" name="Password" placeholder="Password">
			    <br>
			    <br>
			    <label for="Booking_Agent_ID">Booking Agent ID</label><br>
			    <input required class="book" type="Booking_Agent_ID" name="Booking_Agent_ID" placeholder="Booking Agent ID">
			    <br>
			    <br>
    		</div>
    		<div id="airl">
    			<label for="Username">Username</label><br>
			    <input required class="airl" type="Username" name="Username" placeholder="Username">
			    <br>
			    <br>
			    <label for="Password">Password</label><br>
			    <input required class="airl" type="Passsword" name="Password" placeholder="Password">
			    <br>
			    <br>
    		</div>
    		<input type="submit" value="Login" />
	    </form>

	    <script>
			$("#book").hide();
			$('.book').prop('disabled', true);
			$("#airl").hide();
			$('.airl').prop('disabled', true);

	    	$("#user_type").on("change", function() {
				if (this.value == "customer") {
					$("#cust").show();
					$('.cust').prop('disabled', false);
					$("#book").hide();
					$('.book').prop('disabled', true);
					$("#airl").hide();
					$('.airl').prop('disabled', true);
				} else if (this.value == "booking_agent") {
					$("#cust").hide();
					$('.cust').prop('disabled', true);
					$("#book").show();
					$('.book').prop('disabled', false);
					$("#airl").hide();
					$('.airl').prop('disabled', true);
				} else if (this.value == "airline_staff") {
					$("#cust").hide();
					$('.cust').prop('disabled', true);
					$("#book").hide();
					$('.book').prop('disabled', true);
					$("#airl").show();
					$('.airl').prop('disabled', false);
				}
			});
	    </script>		
	</body>
</html>