<!Doctype html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	</head>
	<body>
		<div><a href="/">Back to home</a></div>
		<h1>View commission.</h1>
		{% if error %}
			<p style="color:red">{{ error }}</p>
		{% endif %}
		<h3>Total Amount of Commission in the Past Month</h3>
		{{ total_commission }}
		<h3>Average Commission per Ticket in the Past Month</h3>
		{{ average_commission }}
		<h3>Total Number of Tickets Sold in the Past Month</h3>
		{{ num }}

		<br><br>
		<h3>Total Amount of Tickets and Commission in Range</h3>
		<label for="After">start date</label><br>
		<input id="start" class="search" required type="date" value="2017-01-01" name="After"><br>
		<label for="Before">end date</label><br>
		<input id="end" class="search" required type="date" value="2017-09-01"name="Before"><br>
		<h4>Total Amount of Tickets</h4>
		<p id="count"></p>
		<h4>Total Amount of Commission</h4>
		<p id="comm"></p>



		<script type="text/javascript">
			$(".search").change(function() {
				$.post("/getCommissionAndNum", {
					start_date: $("#start").val(),
					end_date: $("#end").val()
				}).done(function(data) {
					$('#count').html(data['count']);
					$('#comm').html(data['comm']);
				});
			});



			$.post("/getCommissionAndNum", {
				start_date: $("#start").val(),
				end_date: $("#end").val()
			}).done(function(data) {
				$('#count').html(data['count']);
				$('#comm').html(data['comm']);
			});

		</script>
	</body>
</html>